* {
    text-align: center;
}

body {
    /* background-color: #212F3C; */
    background-color: #343a40;
    margin-bottom: 4%;
}


.container-fluid {
    margin-top: 0%;
    margin-bottom: 0%;
}


.row {
    margin-top: 1%;
}

.card {
    max-width: 600px;
    margin-right: 5%;
    text-align: right;
    background-color: #343a40;
    filter: drop-shadow(0px 0px 10px #000000);
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.ImgApi {
    height: 200px;
    width: auto;

}

.ImgLogo {
    height: 80%;
    filter: drop-shadow(0px 3px 10px #000000);

}

.ImgLogo:hover {
    transform: scale(1.1);
    z-index: 1;
}

button {
    margin-left: 1%;
    filter: drop-shadow(0px 0px 2px #000000);
}

button:hover {
    transform: scale(1.1);
    z-index: 1;
}

table {
    empty-cells: hide;
}

button {
    width: 100px;

}