* {
    text-align: center;
}

body {

    background-color: #3e4a61;
    margin-bottom: 4%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    
}

.container-fluid {
    margin-top: 0%;
    margin-bottom: 0%;
}

.row {
    margin-top: 1%;
}

.card {
    max-width: 700px;
    height: 300px;
    margin-right: 5%;
    background-color: #36454f;
    filter: drop-shadow(0px 0px 10px #000000);
    animation: zoomIn;
    animation-duration: 0.9s

}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.gitLogo{
    width: 40px;
}

.homeImg {
    height: 500px;
    width: auto;
    filter: drop-shadow(0px 0px 100px #c5f600);
}

.ImgApi {
    height: 290px;
    width: auto;
    object-fit: fill;
}

.ImgLogo {
    height: 80%;
    filter: drop-shadow(0px 3px 10px #000000);
}

.ImgLogo:hover {
    transform: scale(1.1);
    z-index: 1;
}

button {
    width: 150px;
    margin-left: 1%;
    filter: drop-shadow(0px 0px 2px #000000);
}

button:hover {
    transform: scale(1.1);
    z-index: 1;
}


p {
    margin-left: 0%;
}

i{
    font-size: 70px;
}

i:hover {
    transform: scale(1.1);
    z-index: 1;
    color: white;
}
